h3{
    color: transparent;
    background-color: transparent;
    font-size: 35px;
    background: linear-gradient(to right, rgb(60, 0, 255), rgb(255, 0, 89));
    -webkit-background-clip: text;
    text-align: center;

}

#orange{
    color: orange !important;
}
#blue{
    color: rgb(0, 157, 255) !important;
}

#red{
    color: red !important;
}
#green{
    color: green !important;
}

#yes{
    text-align: center;
    color: blue;
    margin-top: 25px;
}
