#profile{
    color: grey;
    font-size: 55px;
    text-align: center;

}

#intro{
    margin-top: 35px;
    font-size: 20px !important;
    background-color: transparent !important;
    color: transparent !important;
    background: linear-gradient(to right, rgb(0, 38, 255), rgb(249, 11, 11)) !important;
    -webkit-background-clip: text !important;
    
}

#blue{
    background-color: transparent !important;
    color: transparent !important;
    background: linear-gradient(to right, rgb(249, 11, 11), rgb(0, 38, 255)) !important;
    -webkit-background-clip: text !important;
    text-align: center;
}


#yes{
    text-align: center;
    background-color: transparent !important;
    color: transparent !important;
    background: linear-gradient(to right, rgb(230, 6, 226),rgb(0, 162, 255)) !important;
    -webkit-background-clip: text !important;
    margin-top: 25px;
    font-size: 35px;
    padding: 25px;
}

#bluetitle{
    color: rgb(8, 8, 121) !important;
    font-weight: 700 !important;
    font-size: 20px;
}