#rightside{
    width: auto;
}

#rightside h2 {
    text-align: center;
}

#still {
    margin-top: 15px;
    background-color: blue;
    text-decoration: none;
    padding: 10px;
    padding-right: 10px;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-left: none;

}

#rightside p {
    text-align: center;
    background-image: url(/photo/kity.jpg);
    background-size: cover;
}