

img{
    width: 150px;
    height: 150px;
    border: 2px solid orange;
    border-radius: 120px;
    margin-left: 25px;
    display: inline-block;
    margin-top: 25px;
    align-items: center;
}
header h2{
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 35px;
    padding: 5px;
}