img{
    border-radius: 20px;
    border: 4px solid orange !important;
}
img:hover{
    padding: 5px;
}
h6{
    display: flex;
    justify-content: center;
}

#bordered{
    border: 2px solid grey;
    box-shadow: 10px 0px 0px 0px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
}

#rebor{
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}